In [77]:
import pandas as pd
import hvplot.pandas
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [78]:
layoff_df = pd.read_csv("Final/layoffs.csv")
layoff_df

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised
0,Pear Therapeutics,Boston,Healthcare,170.0,0.92,2023-04-07,Post-IPO,United States,409.0
1,ZestMoney,Bengaluru,Finance,100.0,0.20,2023-04-07,Series C,India,120.0
2,Absolute Software,Vancouver,Security,40.0,0.05,2023-04-06,Post-IPO,Canada,NaN
3,Avocargo,Berlin,Transportation,16.0,1.00,2023-04-06,Seed,Germany,NaN
4,Dunzo,Bengaluru,Food,300.0,0.30,2023-04-05,Unknown,India,382.0
...,...,...,...,...,...,...,...,...,...
2468,HopSkipDrive,Los Angeles,Transportation,8.0,0.10,2020-03-13,Unknown,United States,45.0
2469,Panda Squad,SF Bay Area,Consumer,6.0,0.75,2020-03-13,Seed,United States,1.0
2470,Tamara Mellon,Los Angeles,Retail,20.0,0.40,2020-03-12,Series C,United States,90.0
2471,EasyPost,Salt Lake City,Logistics,75.0,NaN,2020-03-11,Series A,United States,12.0
2472,Blackbaud,Charleston,Other,500.0,0.14,NaN,Post-IPO,United States,NaN

In [79]:
layoff_df.columns

Index(['company', 'location', 'industry', 'total_laid_off',
       'percentage_laid_off', 'date', 'stage', 'country', 'funds_raised'],
      dtype='object')

In [80]:
layoff_df.percentage_laid_off

0       0.92
1       0.20
2       0.05
3       1.00
4       0.30
        ...
2468    0.10
2469    0.75
2470    0.40
2471     NaN
2472    0.14
Name: percentage_laid_off, Length: 2473, dtype: float64

In [81]:
layoff_df.sort_values(by='date',ascending=True)
layoff_df

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised
0,Pear Therapeutics,Boston,Healthcare,170.0,0.92,2023-04-07,Post-IPO,United States,409.0
1,ZestMoney,Bengaluru,Finance,100.0,0.20,2023-04-07,Series C,India,120.0
2,Absolute Software,Vancouver,Security,40.0,0.05,2023-04-06,Post-IPO,Canada,NaN
3,Avocargo,Berlin,Transportation,16.0,1.00,2023-04-06,Seed,Germany,NaN
4,Dunzo,Bengaluru,Food,300.0,0.30,2023-04-05,Unknown,India,382.0
...,...,...,...,...,...,...,...,...,...
2468,HopSkipDrive,Los Angeles,Transportation,8.0,0.10,2020-03-13,Unknown,United States,45.0
2469,Panda Squad,SF Bay Area,Consumer,6.0,0.75,2020-03-13,Seed,United States,1.0
2470,Tamara Mellon,Los Angeles,Retail,20.0,0.40,2020-03-12,Series C,United States,90.0
2471,EasyPost,Salt Lake City,Logistics,75.0,NaN,2020-03-11,Series A,United States,12.0
2472,Blackbaud,Charleston,Other,500.0,0.14,NaN,Post-IPO,United States,NaN

In [82]:
layoff_df['date']= pd.to_datetime(layoff_df['date'])
print(layoff_df.dtypes)

company                        object
location                       object
industry                       object
total_laid_off                float64
percentage_laid_off           float64
date                   datetime64[ns]
stage                          object
country                        object
funds_raised                  float64
dtype: object

In [83]:
layoff_df

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised
0,Pear Therapeutics,Boston,Healthcare,170.0,0.92,2023-04-07,Post-IPO,United States,409.0
1,ZestMoney,Bengaluru,Finance,100.0,0.20,2023-04-07,Series C,India,120.0
2,Absolute Software,Vancouver,Security,40.0,0.05,2023-04-06,Post-IPO,Canada,NaN
3,Avocargo,Berlin,Transportation,16.0,1.00,2023-04-06,Seed,Germany,NaN
4,Dunzo,Bengaluru,Food,300.0,0.30,2023-04-05,Unknown,India,382.0
...,...,...,...,...,...,...,...,...,...
2468,HopSkipDrive,Los Angeles,Transportation,8.0,0.10,2020-03-13,Unknown,United States,45.0
2469,Panda Squad,SF Bay Area,Consumer,6.0,0.75,2020-03-13,Seed,United States,1.0
2470,Tamara Mellon,Los Angeles,Retail,20.0,0.40,2020-03-12,Series C,United States,90.0
2471,EasyPost,Salt Lake City,Logistics,75.0,NaN,2020-03-11,Series A,United States,12.0
2472,Blackbaud,Charleston,Other,500.0,0.14,NaT,Post-IPO,United States,NaN

In [84]:
layoff_df2 = layoff_df[(layoff_df['date']>"2022-06-30")&(layoff_df['date']<"2022-10-01")]
layoff_df2

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised
1045,Spin,SF Bay Area,Transportation,78.0,0.10,2022-09-30,Acquired,United States,8.0
1046,Carsome,Kuala Lumpur,Transportation,NaN,0.10,2022-09-30,Series E,Malaysia,607.0
1047,Pastel,SF Bay Area,Food,NaN,1.00,2022-09-30,Unknown,United States,NaN
1048,Truepill,SF Bay Area,Healthcare,NaN,NaN,2022-09-30,Series D,United States,255.0
1049,Westwing,Munich,Retail,125.0,NaN,2022-09-29,Post-IPO,Germany,237.0
...,...,...,...,...,...,...,...,...,...
1452,WanderJaunt,SF Bay Area,Travel,85.0,1.00,2022-07-01,Series B,United States,26.0
1453,Canoo,Los Angeles,Transportation,58.0,0.06,2022-07-01,Post-IPO,United States,300.0
1454,Bamboo Health,Louisville,Healthcare,52.0,NaN,2022-07-01,Unknown,United States,NaN
1455,Teleport,SF Bay Area,Infrastructure,15.0,0.06,2022-07-01,Series C,United States,169.0
1456,Remesh,New York City,Support,NaN,NaN,2022-07-01,Series A,United States,38.0

In [85]:
layoff_df3 = layoff_df2.drop(['stage', 'funds_raised'], axis=1)
layoff_df3

,company,location,industry,total_laid_off,percentage_laid_off,date,country
1045,Spin,SF Bay Area,Transportation,78.0,0.10,2022-09-30,United States
1046,Carsome,Kuala Lumpur,Transportation,NaN,0.10,2022-09-30,Malaysia
1047,Pastel,SF Bay Area,Food,NaN,1.00,2022-09-30,United States
1048,Truepill,SF Bay Area,Healthcare,NaN,NaN,2022-09-30,United States
1049,Westwing,Munich,Retail,125.0,NaN,2022-09-29,Germany
...,...,...,...,...,...,...,...
1452,WanderJaunt,SF Bay Area,Travel,85.0,1.00,2022-07-01,United States
1453,Canoo,Los Angeles,Transportation,58.0,0.06,2022-07-01,United States
1454,Bamboo Health,Louisville,Healthcare,52.0,NaN,2022-07-01,United States
1455,Teleport,SF Bay Area,Infrastructure,15.0,0.06,2022-07-01,United States
1456,Remesh,New York City,Support,NaN,NaN,2022-07-01,United States

In [86]:
layoff_df4 = layoff_df3.dropna()
layoff_df4

,company,location,industry,total_laid_off,percentage_laid_off,date,country
1045,Spin,SF Bay Area,Transportation,78.0,0.10,2022-09-30,United States
1050,Mux,SF Bay Area,Infrastructure,40.0,0.20,2022-09-29,United States
1053,DocuSign,SF Bay Area,Sales,671.0,0.09,2022-09-28,United States
1056,Divvy Homes,SF Bay Area,Real Estate,40.0,0.12,2022-09-27,United States
1060,Moss,Berlin,Finance,70.0,0.15,2022-09-23,Germany
...,...,...,...,...,...,...,...
1445,Lendis,Berlin,Other,18.0,0.15,2022-07-04,Germany
1448,Celsius,New York City,Crypto,150.0,0.25,2022-07-03,United States
1452,WanderJaunt,SF Bay Area,Travel,85.0,1.00,2022-07-01,United States
1453,Canoo,Los Angeles,Transportation,58.0,0.06,2022-07-01,United States
1455,Teleport,SF Bay Area,Infrastructure,15.0,0.06,2022-07-01,United States

In [87]:
layoff_df4.to_csv("layoffClean.csv", encoding="utf-8",index = False)

SyntaxError: invalid decimal literal (984610368.py, line 1)