In [14]:
import pandas as pd

import numpy as np

import matplotlib.pylab as plt

# adding seaborn to analyze data

import seaborn as sns
plt.style.use('ggplot')
pd.set_option('max_columns', 200)





import os

In [15]:
file_path = "full_data_set.csv"
df = pd.read_csv(file_path)
df.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,country,mass_layoff
0,Pear Therapeutics,Boston,Healthcare,170.0,0.92,2023-04-07,United States,1.0
1,ZestMoney,Bengaluru,Finance,100.0,0.20,2023-04-07,India,1.0
2,Absolute Software,Vancouver,Security,40.0,0.05,2023-04-06,Canada,0.0
3,Avocargo,Berlin,Transportation,16.0,1.00,2023-04-06,Germany,0.0
4,Dunzo,Bengaluru,Food,300.0,0.30,2023-04-05,India,1.0

In [16]:
# checking our data
df.info

<bound method DataFrame.info of                 company     location        industry  total_laid_off  \
0     Pear Therapeutics       Boston      Healthcare           170.0
1             ZestMoney    Bengaluru         Finance           100.0
2     Absolute Software    Vancouver        Security            40.0
3              Avocargo       Berlin  Transportation            16.0
4                 Dunzo    Bengaluru            Food           300.0
...                 ...          ...             ...             ...
1240          Inspirato       Denver          Travel           130.0
1241           Help.com       Austin         Support            16.0
1242       HopSkipDrive  Los Angeles  Transportation             8.0
1243        Panda Squad  SF Bay Area        Consumer             6.0
1244      Tamara Mellon  Los Angeles          Retail            20.0

      percentage_laid_off        date        country  mass_layoff
0                    0.92  2023-04-07  United States          1.0
1                    0.20  2023-04-07          India          1.0
2                    0.05  2023-04-06         Canada          0.0
3                    1.00  2023-04-06        Germany          0.0
4                    0.30  2023-04-05          India          1.0
...                   ...         ...            ...          ...
1240                 0.22  2020-03-16  United States          1.0
1241                 1.00  2020-03-16  United States          0.0
1242                 0.10  2020-03-13  United States          0.0
1243                 0.75  2020-03-13  United States          0.0
1244                 0.40  2020-03-12  United States          0.0

[1245 rows x 8 columns]>

In [17]:
df['industry'].value_counts()

Finance           169
Retail            104
Healthcare         88
Marketing          82
Transportation     80
Food               67
Other              62
Consumer           58
Real Estate        54
Crypto             54
Security           48
Media              47
Education          44
Data               39
Travel             35
HR                 34
Logistics          25
Product            23
Support            22
Sales              22
Recruiting         21
Fitness            18
Infrastructure     16
Hardware            9
Construction        9
Legal               8
Aerospace           3
Energy              3
Manufacturing       1
Name: industry, dtype: int64

In [26]:
# create dictionary on industry column

my_class = {'Energy': 'Energy', 'Transportation': 'Energy',
           'Product': 'Materials',
           'Aerospace': 'Industrial', 'HR':'Industrial', 'Infrastructure': 'Industrial', 'Legal': 'Industrial',
           'Logistics':'Industrial', 'Marketing':'Industrial', 'Recruiting':'Industrial', 'Sales':'Industrial',
           'Security':'Industrial',
           'Construction':'Consumer_Discretionary', 'Consumer':'Consumer_Discretionary', 'Education':'Consumer_Discretionary',
           'Fitness':'Consumer_Discretionary', 'Manufacturing':'Consumer_Discretionary', 'Travel':'Consumer_Discretionary',
           'Retail':'Consumer_Staples', 'Food': 'Consumer_Staples',
           'Healthcare':'Healthcare',
           'Finance': 'Financial', 'Crypto':'Financial',
           'Data':'Info_Tech', 'Hardware': 'Info_Tech', 'Support':'Info_Tech',
           'Media':'Communication',
           'Real Estate': 'Real_Estate',
           'Other':'Other'}

In [27]:
df['global_industry']=df['industry'].map(my_class)
df.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,country,mass_layoff,global_industry
0,Pear Therapeutics,Boston,Healthcare,170.0,0.92,2023-04-07,United States,1.0,Healthcare
1,ZestMoney,Bengaluru,Finance,100.0,0.20,2023-04-07,India,1.0,Financial
2,Absolute Software,Vancouver,Security,40.0,0.05,2023-04-06,Canada,0.0,Industrial
3,Avocargo,Berlin,Transportation,16.0,1.00,2023-04-06,Germany,0.0,Energy
4,Dunzo,Bengaluru,Food,300.0,0.30,2023-04-05,India,1.0,Consumer_Staples

In [24]:
print(df)

                company     location        industry  total_laid_off  \
0     Pear Therapeutics       Boston      Healthcare           170.0
1             ZestMoney    Bengaluru         Finance           100.0
2     Absolute Software    Vancouver        Security            40.0
3              Avocargo       Berlin  Transportation            16.0
4                 Dunzo    Bengaluru            Food           300.0
...                 ...          ...             ...             ...
1240          Inspirato       Denver          Travel           130.0
1241           Help.com       Austin         Support            16.0
1242       HopSkipDrive  Los Angeles  Transportation             8.0
1243        Panda Squad  SF Bay Area        Consumer             6.0
1244      Tamara Mellon  Los Angeles          Retail            20.0

      percentage_laid_off        date        country  mass_layoff  \
0                    0.92  2023-04-07  United States          1.0
1                    0.20  2023-04-07          India          1.0
2                    0.05  2023-04-06         Canada          0.0
3                    1.00  2023-04-06        Germany          0.0
4                    0.30  2023-04-05          India          1.0
...                   ...         ...            ...          ...
1240                 0.22  2020-03-16  United States          1.0
1241                 1.00  2020-03-16  United States          0.0
1242                 0.10  2020-03-13  United States          0.0
1243                 0.75  2020-03-13  United States          0.0
1244                 0.40  2020-03-12  United States          0.0

             global_industry
0                 healthcare
1                  financial
2                 industrial
3                     energy
4           consumer_staples
...                      ...
1240  consumer_discretionary
1241               info_tech
1242                  energy
1243  consumer_discretionary
1244        consumer_staples

[1245 rows x 9 columns]

In [25]:
# create new CSV with re-classified columns

df.to_csv("reclassified.csv", encoding="utf-8", index = False)